body {
  background-image: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  box-shadow: 5px 10px 50px black;
  box-sizing: border-box;
  height: 80vh;
  width: 80vh;
  margin: 10vh auto; }

.row {
  display: flex;
  flex-flow: row; }
  .row div {
    background: #ece2bf;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    flex: 1;
    height: 10vh; }
  .row div:last-child {
    border-right: 1px solid black; }
  .row div:nth-child(odd) {
    background: #2d211d; }

.row:first-child {
  border-top: 1px solid black; }

.row-odd div {
  background: #2d211d; }

.row-odd div:nth-child(odd) {
  background: #ece2bf; }
