//--------------------------------------------------------//
//  Variables
//--------------------------------------------------------//
$primary-color: #2196f3;
$dark-primary: darken( $primary-color, 15% );
$light-primary: lighten( $primary-color, 30% );
//--------------------------------------------------------//
//  content
//--------------------------------------------------------//
body {
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  header, footer {
    background: $dark-primary;
    padding: 20px;
    text-align: center;
  }
}

.wrapper {
  display: flex;
  flex-flow: row;
  height: 100%;
  .content {
    background-color: $light-primary;
    color: black;
    flex: 4;
    padding: 20px;
  }
  nav, aside {
    background: $primary-color;
    flex: 1;
    padding: 20px;
  }
}
