
.row {
  width: 50%;
  display: flex;
  flex-flow: row;
  margin: 0 25%;
}

.row div {
  height: 70px;
  border: 1px solid black;
  flex: 1;
}

.row div:nth-child(odd) {
  background: grey;
}

.row-odd div {
  background: grey;
}

.row-odd div:nth-child(odd) {
  background: white;
}
