.row {
  display: flex;
  flex-flow: row;
  margin: 0 25%;
}

.row div {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  flex: 1;
  height: 10vh;
}

.row div:last-child {
  border-right: 1px solid black;
}

.row:first-child {
  border-top: 1px solid black;
}

.row div:nth-child(odd) {
  background: grey;
}

.row-odd div {
  background: grey;
}

.row-odd div:nth-child(odd) {
  background: white;
}
