body {
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  border: 5px solid black;
  box-shadow: 5px 5px 50px black;
  display: flex;
  height: 50vh;
  margin: 300px auto;
  width: 50%;
}

/*  ------>   basic wireframing layout   <-----    */

.frame-edge-left, .frame-edge-right  {
  flex: 1;
}

.quarter-1, .quarter-4 {
  flex: 3;
}

.quarter-2 , .quarter-3 {
  flex: 2;
}

.row {
  display: flex;
  flex-flow: row;
  height: 100%;
}

.column {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row-box {
  flex: 1;
  border-right: 2px solid black;
  height: 100%;s
}

.row-box:last-child {
  border: none;
}

.row-box .div-half {
  height: 50%;
  border-bottom: 2px solid black;
}

.row-box div:last-child {
  border: none;
}

.box {
  border: 1px solid black;
  flex: 1;
}

.inside-box {
  background: white;
  border-right: 2px solid black;
  height: 100%;
  width: 50%;
}

/*  ------>   left to rigth columns   <-----    */

.frame-edge-left .column .box:nth-child(1) {
  border-right-color: white;
}

.frame-edge-left .column .box:nth-child(5) {
  border-right-color: white;
}

.frame-edge-left .column .box:nth-child(2) {
  flex: 2;
}

.frame-edge-left .column .box:nth-child(3) {
  flex: 3;
}

.frame-edge-left .column .box:nth-child(4) {
  flex: 3;
}


.quarter-1 .column .box:nth-child(1) .inside-box {
  width: 20%;
}

.quarter-1 .column .box:nth-child(2) {
  flex: 4;
}

.quarter-1 .column .box:nth-child(3),
.quarter-1 .column .box:nth-child(4) {
  flex: 2;
}

.quarter-1 .column .box:nth-child(1) {
  border-left: none;
}

.quarter-1 .column .box:nth-child(5) {
  border-left-color: white;
  border-top: none;

}

.quarter-2 .column .box:nth-child(2),
.quarter-2 .column .box:nth-child(3),
.quarter-2 .column .box:nth-child(5),
.quarter-2 .column .box:nth-child(6) {
  flex: 2;
}

.quarter-3 .column .box:nth-child(1),
.quarter-3 .column .box:nth-child(2),
.quarter-3 .column .box:nth-child(4),
.quarter-3 .column .box:nth-child(5) {
  flex: 2;
}

.quarter-4 .column .box:nth-child(2),
.quarter-4 .column .box:nth-child(3) {
  flex: 2;
}

.quarter-4 .column .box:nth-child(4) {
  flex: 4;
}

.quarter-4 .column .box:nth-child(1),
.quarter-4 .column .box:nth-child(5) {
  border-right-color: white;
}

.quarter-4 .column .box:nth-child(5) .inside-box {
  width: 80%;
}


.frame-edge-right .column .box:nth-child(2),
.frame-edge-right .column .box:nth-child(3) {
  flex: 3;
}

.frame-edge-right .column .box:nth-child(4) {
  flex: 2;
}

.frame-edge-right .column .box:nth-child(1),
.frame-edge-right .column .box:nth-child(5) {
  border-left-color: white;
}

/*  ------>   colors   <-----    */
.yellow {
  background: #ffeb3b;
}

.red {
  background: #ff5722;
}

.blue {
  background: #3f51b5;
}

.black {
  background: #403b3b;
}

.white {
  background: white;
}
